.centerClass {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products img {
  width: 100%;
}

.product {
  padding: 30px;
}

.btnLink {
  font-size: 25px;
  padding: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

button {
  font-size: 20px;
  padding: 10px;
}

header {
  background-color: rgb(0, 140, 255);
  height: 80px;
  padding-top: 30px;
}
